.handlersContainer {
    margin: 1rem;
}
.handlerLists {
    padding: 1.5rem;
    margin: .5rem;
    border-bottom: .01rem  solid gray;;
    display: block;
}
.photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.profileName {
    
}
.filtertitlecontainer {
    background-color: rgba(222, 222, 222, 0.793);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
}
.handlerContainer {
    margin: 1rem;
    border: 0.1px solid rgb(211, 211, 211);
    border-radius: .4rem;
}
.details2 {
    font-weight: 200;
}
.details {
    font-weight: 200;
}
.postContainer {
    background-color: rgba(242, 242, 242, 0.793);
}

@media only screen and (min-width: 600px) {
.app {
    margin: 2rem 3rem;
  
}
}

@media only screen and (min-width: 750px) {
    .app {
        margin: 2rem 4rem;
    }
     .handlerContainer {
        margin-top: 2rem;
    } 

    .handlersContainer {
        margin: 2rem 4rem;
    }
    }

 @media only screen and (min-width: 950px) {
        .app {
            margin: 3rem 5rem;
        }
         .handlerContainer {
            margin-top: 2rem;
        } 
        .handlersContainer {
            margin: 3rem 5rem;
        }
        }

  @media only screen and (min-width: 1200px) {
        .app {
            margin: 3rem 9rem;
        }
        .handlerContainer {
            margin-top: 2rem;
         } 

         .handlersContainer {
            margin: 3rem 9rem;
        }
     }