.sportHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addSport {
    display: flex;
    justify-content: center;
    background-color: rgb(168, 168, 168);
    padding: .7rem;
    margin: .5rem;
    border-radius: .5rem;
    width: 50px;
    color: white;
}
.sportsContainer {
    background-color: white;
    box-sizing: border-box;
    border: .02rem solid gray;
    margin: 2rem;
    border-radius: .5rem;
}
.sportContainer {
   margin: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.subHeader {
    margin: .5rem 2rem;
    font-weight: 200;
}
.sportPic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: .5rem;
}
.details {
    font-weight: 200;
}
.sportDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexContainer {
    display: flex;
    justify-content: center;
}