.clubsContainer {
    width: 100%;
}
.clubList {
    display: flex;
    padding: 1.5rem;
    margin: .5rem;
    border-bottom: .01rem  solid gray;;
}

ul {
    margin: 0;
    padding: 0;
}
section {
    margin: 0;
    padding: 0;
}
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: rgba(242, 242, 242, 0.793);
    
}

.headerDetailContainer {
    background-color: white;
    border: .1rem solid rgb(179, 179, 179);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    margin: 2rem;
    padding: 2rem;
 
    
}

.clubsContainer {
    width: 100%;
  
    
}
.clubList {
    padding: 1.5rem;
    margin: .5rem;
    border-bottom: .01rem  solid gray;;
    display: block;
}
.photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: .5rem;
}
.clubPhoto {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: .5rem;
}
.details {
    font-weight: 200;
}