.container {
    display: flex;
    background-color: white;
    border: .02rem solid gray;
    padding: 1rem;
    border-radius: .5rem;
    margin: 2rem;
    box-sizing: border-box;
    position: relative;
}
.inputSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 3rem;
}
.buttonSection {
    margin-top: .5rem;
    display: flex;
    align-items: center;
}
.input {
    border: .02rem solid gray;
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;
    
}
.createButton {
    height: 40px;
    border: none;
    background-color: rgb(247, 46, 46);
    border-radius: .5rem;
    margin: .5rem;
    color: white;
}
.createButton:hover {
    background-color: rgb(255,10,10);
}
input[type="file"] {
    display: none;
}
.customUpload {
        width: 20%;
        height: 40px;
        border: .02rem solid gray;
        border-radius: .5rem;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-left: 1rem;
   
}
.customUpload:hover {
    background-color: gray;;
}
.uploaded {
    height: 200px;
    width: 200px;
    border-radius: .4rem;
}
.fileName {
    font-size: .7rem;
    margin: 1rem;
}
.form {
    width: 100%;
}
.submit {
    right: 0;
    margin-right: 1rem;
    margin-bottom: 2rem;
    position: absolute;
}

@media only screen and (min-width: 650px) {
    .container {
        margin: 2rem 10rem;
    }
   
    }

@media only screen and (min-width: 1000px) {
        .container {
            margin: 4rem 15rem
        }
       
        }
@media only screen and (min-width: 1300px) {
            .container {
                margin: 6rem 18rem;
            }
        }