.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    
}

.logo {
    width: 80%;
    margin-bottom: 3.5rem;
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    margin: 1rem;
    padding: .5rem 2rem;
    background-color: #dc3545;
    color: white;
    border-radius: .4rem;
    width: 50%;
}


.linkContainer {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.signUp {
    background-color: rgb(186, 186, 186);
    padding: .5rem;
    border-radius: .4rem;
    color: black;
    margin-top: 6rem;
    
}

 @media only screen and (min-width: 750px) {
    .container {
        margin: 4rem;
    }
}
    



@media only screen and (min-width: 900px) {
    .container {
        margin: 5rem;
        
    } 
    .logo {
        width: 65%;
        
    }
    .links {
        width: 40%;
    }
}

    @media only screen and (min-width: 1100px) {
        .container {
            margin: 7rem;
        } 
        .logo {
            width: 55%;
        }
        .links {
            width: 30%;
        }
}