.sportsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    padding: 1rem;
}
a {
    color: inherit;
}
 .sportLink a {
    color: white;
}
.sportLink {
    background-color: #dc3545;
    padding: .7rem;
    margin: 0 .5rem;
    border-radius: .9rem;
    font-weight: 200;
    color: white
}
.locationButton {
    border-radius: .4rem;
    
}

.LocationContainer {
    display: flex;
    justify-content: flex-end;
    
}
.dropBut {
    background-color: black;
}